.card{
	margin: 10px;

	/* width: 20rem;
	height: 32rem;
	 */
}


/* .card {
	font-size: 2vw;
	max-width: 100%;
	height: auto;
} */

.card-text{
	/* font-size: 1vw; */
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#carouselConstellations{
	width: 300px;
}

.carousel-caption{
	margin-bottom: 30px;
}

#space-logo{
	width: 45px;
}

#planetsTable{
	background-color: white;
}
.info_content{
	padding: 0px 12px;
	font-style: italic;
	font-family: courier;
	font-size: 16pt;
	color: white;
}

.inner_text{
	margin-top: 50px;
	font-style: italic;
	font-family: sans-serif;
	font-size: 14pt;
	color: white;
}

.right_side{
	background-color: #999999;
}

.image_prop{
	/*width: 300px;
	height: 400px;*/
	margin-top: 50px;
	margin-bottom: 50px;
}
